*.registro
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
mídia


*.py[cod]
*$py.class


*.então


.Python
construir/
desenvolver-ovos/
dist/
downloads/
ovos/
.ovos/
biblioteca/
lib64/
peças/
sdist/
var/
rodas/
compartilhar/rodas-python/
*.egg-info/
.installed.cfg
*.ovo
MANIFESTO


Normalmente, esses arquivos são criados por um script Python a partir de um modelo.

*.manifesto
*.spec


pip-log.txt
pip-exclua-este-diretório.txt


htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cobrir
*.py,capa
.hipótese/
.pytest_cache/
cobrir/


*.mo


exemplo/
.webassets-cache


.scrapy

docs/_build/


.pybuilder/
alvo/

.ipynb_checkpoints

perfil_padrão/
ipython_config.py


Assim como o Pipfile.lock, geralmente é recomendável incluir o poetry.lock no controle de versão.

Assim como o Pipfile.lock, geralmente é recomendável incluir o pdm.lock no controle de versão.

O pdm armazena configurações de todo o projeto em .pdm.toml, mas é recomendável não incluí-lo.

.pdm.toml


__pypackages__/

cronograma de batidas de aipo
celerybeat.pid

*.sage.py

.env
.venv
ambiente/
venv/
AMBIENTE/
env.bak/
venv.bak/

.spyderproject
.spyproject

.projeto de corda

/site

.mypy_cache/
.dmypy.json
dmypy.json

.pira/

.pytype/

cython_debug/

O modelo específico da JetBrains é mantido em um arquivo JetBrains.gitignore separado que pode
